<div class="container">
  <div class="shadow border m-1">
    <div class="text-center">
      <h2>Contact</h2>
      <p>
        I can be reached with the following email:
        <strong>lamhoang1214@gmail.com</strong>
      </p>

      <p>Feel free to connect with me on any of the following platforms:</p>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col shadow border m-1">
        <div class="mb-3 mt-3 d-flex justify-content-center">
          <a
            href="https://www.linkedin.com/in/lam-n-hoang/"
            target="_blank"
            rel="noopener noreferrer"
          >
            <img
              src="../../assets/linkedin_logo.png"
              class="logo-img mr-2 img-fluid"
              style="width: 100px; height: auto"
            />
          </a>
        </div>
      </div>
      <div class="col shadow border m-1">
        <div class="mb-3 mt-3 d-flex justify-content-center">
          <a
            href="https://github.com/lamrhoang"
            target="_blank"
            rel="noopener noreferrer"
          >
            <img
              src="../../assets/github-mark.png"
              class="logo-img mr-2 img-fluid"
              style="width: 100px; height: auto"
            />
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
